.preview-item {
  margin: 10px;
  text-align: center;
  min-width: 100px;

  &:hover{
      opacity: 0.8;
  }
}

.preview-img {
  img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
  }
}
