@import "../../App.scss";

.header{
  background-color: $first-color;
  color: #f6f6f6;
  border-bottom: 5px solid $second-color;
  min-height: 120px;
  min-width: 500px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.wrap {
  width: 85%;
  margin: 0 auto;
  min-width: 400px;

  h2{
    color:#fff;
    margin-bottom: 10px;
  }
}